@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
%d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  @extend %d-flex;
  min-height: 100vh;
}
.container {
  width: 100%;
  min-height: 100vh;
  @extend %d-flex;
  transition: 0.5s;
  .toggle {
    height: 200px;
    width: 400px;
    position: relative;
    .moon {
      width: 50%;
      height: 100%;
      background: #100a0a;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      transition: 1s;
      &::before {
        content: "";
        position: absolute;
        width: 200px;
        height: 200px;

        transform: translateX(75px) translateY(-50px);
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 0px 10px #fff, 0 0px 20px #fff, 0 0px 40px #fff,
          0 0px 80px #fff;
        cursor: default;
      }
    }
  }
  &.dark {
    background: #050202;

    .moon {
      // opacity: 0;
      transform: translateX(50%);
    }
  }
}
